In [1]:
%load_ext autoreload
%autoreload 2

In [29]:
import networkx as nx
import pandas as pd

In [3]:
H=nx.read_graphml('candidate93.gml')

In [6]:
G=nx.to_scipy_sparse_matrix(H)

/var/folders/py/y5ly3l7n0fn7s10vtnnwvz780000gn/T/ipykernel_77518/2972858417.py:1: DeprecationWarning:

The scipy.sparse array containers will be used instead of matrices
in Networkx 3.0. Use `to_scipy_sparse_array` instead.
  G=nx.to_scipy_sparse_matrix(H)

In [13]:
from snsim.propagation import read
from snsim.propagation.simulation import Simulation

In [14]:
sim=Simulation.from_files('data/anon_graph_inner_neos_20201110.npz','data/sim_features_neos_20201110.csv')

In [15]:
read.save_source_map('neos_sources.csv',sim.sources)

/usr/local/Caskroom/miniconda/base/envs/snsim/lib/python3.9/site-packages/pandas/core/indexes/base.py:6982: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  return Index(sequences[0], name=names)

In [20]:
read.save_labelled_graph('candidate93.npz',G,range(150))

In [25]:
tweets=read.tweets('data/sim_features_neos_20201110.csv', range(1,1000000))

In [26]:
tweets.source%=151

In [28]:
tweets.to_csv('sim_features_c93.csv')

In [32]:
t=pd.read_csv('data/sim_features_neos_20201110.csv')
t

,author_adjlist,author_metis,verified,activity,defaultprofile,userurl,hashtag,tweeturl,mentions,media,retweets
0,6092792,6359,0,0,0,0,0,1,0,0,0
1,3179296,1363,0,0,1,1,0,0,1,1,0
2,8525989,4007,0,0,0,1,1,1,1,0,0
3,5650493,7040,0,0,1,0,0,1,0,0,1
4,7327896,5547,0,0,0,1,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...
4482,3856011,5662,0,0,1,1,0,0,1,0,0
4483,2878088,6908,0,0,0,1,1,0,1,1,4
4484,1721987,679,0,1,0,1,1,0,0,0,0
4485,638317,2451,0,0,0,0,0,0,1,0,0
4486,3818477,6547,0,0,0,1,0,0,0,0,0

In [33]:
t.author_adjlist%=151
t.author_metis%=151

In [35]:
t.to_csv('sim_features_c93.csv',index=False)